<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ansible_hostname }} - Nginx</title>
</head>
<body>
    {% if ansible_hostname == 'm-centos7' %}
        {{ custom_message }}
    {% else %}
        {{ default_index }}
    {% endif %}
</body>
</html>